/* You can add global styles to this file, and also import other style files */

body,
html {
    box-sizing: border-box;
    height: 100%;
    overflow-y: hidden;
    min-height: 100%;
    margin: 0;
}

* {
    font-family: 'Roboto';
}

.spacer {
    flex: 1 1 auto;
}

.flex-toolbar {
    display: flex;
}